Django==5.1.7
django_admin_autocomplete_filter==0.7.1
djangorestframework==3.16.0
googletrans==4.0.0rc1
langdetect==1.0.9
pandas==2.2.3
python-dotenv==1.1.0
Requests==2.32.3
selenium==4.31.0
textblob==0.19.0
vaderSentiment==3.3.2
vaderSentiment==3.3.2
webdriver_manager==4.0.2
