body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #ffffff6c;
    margin: 0;
    padding: 0;
}
.navbar {
    background-color: #4CAF50;
    padding: 15px 20px;
    color: white;
    margin: 5px;
    border-radius: 10px;

}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;

}

.nav-container a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 15px;
    margin: 0;
    padding: 0;
}

.nav-links li {
    display: inline;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 8px 12px;
}

.heading {
    text-align: center;
    font-size: 30px;
    color: #64b820;
    margin: 10px;
}
.container {
    width: 90%;
    margin: auto;
    padding: 20px;
}
.table-container {
    margin-top:10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    padding-left: 10px;
    border-radius: 8px;
    overflow: hidden;
    font-family: Arial, sans-serif;
}
.table thead {
    background-color: #4CAF50;
    color: white;
}

.table thead th {
    padding: 12px;
    text-align: center;
    font-weight: bold;
}

.table tbody td {
    padding: 5px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}
.table tbody tr:hover {
    background-color: #f9f9f9;
    cursor: pointer;
}
.url-link {
    color: #007BFF;
    text-decoration: none;
}

.url-link:hover {
    text-decoration: underline;
}
.action-btn {
    padding: 8px 16px;
    border-radius: 5px;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
}
.action-btn:hover {
    opacity: 0.8;
}
.btn {
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    float:right;
    margin: 30px;

}

button {
    margin: 20px;
    padding: 10px 30px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}
.form-container{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin:30px;
    padding: 20px;

}

.container input, .container select, .container textarea {
    width: 50%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #0a0909;
    border-radius: 4px;
}

